body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #f6f6f6;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 36px;
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: 500;
    margin: 0px;
}

p {
    margin: 0px;
}

.container {
    margin: 0px auto;
    width: 1480px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #05885f;
}

/*Основная часть*/

.offer {
    background-image: url(../img/img_offer.jpg);
    padding-top: 235px;
    padding-bottom: 235px;
}

form {
    background-color: rgba(44, 44, 42, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 25px 150px;
    width: 705px;
    height: 280px;
    margin-left: 212px;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #ffffff;
}

.src {
    width: 700px;
    height: 60px;
    display: flex;
}

.src input {
    margin: 0;
    height: 60px;
    border: 0px;
    width: 640px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.src div {
    height: 60px;
    width: 60px;
    align-items: center;
    align-content: center;
    background-color: #05885f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

main {
    margin-top: 140px;
    margin-bottom: 150px;
}

article h2 {
    margin-bottom: 80px;
}

/*Акции*/

.share-list {
    display: flex;
}

.share {
    margin-right: 20px;
}

/*Новинки*/

.new {
    margin-top: 150px;
    margin-bottom: 150px;
}

.book-list {
    display: flex;
}

.img-book, .cover {
    width: 220px;
    height: 290px;
}

.cover {
    margin-top: -2%;
}

.mark {
    margin-left: 12%;
}

.rate {
    display: flex;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 28px;
    align-items: center;
    align-content: center;
    margin-top: -1.9%;
    margin-left: 10.8%;
}

.rate img {
    width: 20px;
    height: 19px;
    margin-right: 5px;
    margin-left: 5px;
}

.cost {
    display: flex;
}