body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #f6f6f6;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 36px;
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: 500;
    margin: 0px;
}

p {
    margin: 0px;
}

.container {
    margin: 0px auto;
    width: 1480px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #05885f;
}

/*Основная часть*/

.offer {
    background-image: url(../img/img_offer.jpg);
    object-fit: contain;
    padding-top: 235px;
    padding-bottom: 235px;
}

form {
    background-color: rgba(44, 44, 42, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 25px 150px;
    width: 705px;
    height: 280px;
    margin-left: 212px;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #ffffff;
}

.src {
    width: 700px;
    height: 60px;
    display: flex;
}

.src input {
    margin: 0;
    height: 60px;
    border: 0px;
    width: 640px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.src div {
    height: 60px;
    width: 60px;
    align-items: center;
    align-content: center;
    background-color: #05885f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

main {
    margin-top: 140px;
    margin-bottom: 150px;
}

article h2 {
    margin-bottom: 80px;
}

/*Акции*/

.share-list {
    display: flex;
}

.share {
    margin-right: 20px;
}

.share img {
    object-fit: contain;
}

/*Новинки*/

.new {
    margin-top: 150px;
    margin-bottom: 150px;
    box-sizing: border-box;
}

.new h2 {
    margin-bottom: 45px;
}

.swiper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1575px;
}

.swiper .books {
    overflow: hidden;
}


/*Книги*/

.book {
    width: 232px;
    margin-right: 75px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.img_book, .cover img {
    width: 220px;
    height: 290px;
    margin-top: -7%;
}

.cover img {
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.mark {
    margin-left: 78%;
    position: relative;
    z-index: 2;
}

.rate {
    display: flex;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 28px;
    align-items: center;
    align-content: center;
    margin-top: -14%;
    margin-left: 73%;
    position: relative;
    z-index: 2;
}

.rate img {
    width: 20px;
    height: 19px;
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.author {
    color: #838383;
    margin-bottom: 25px;
}

.price {
    font-size: 21px;
    font-weight: 700;
    margin-right: 10px;
}

.dcnt {
    color: #838383;
    text-decoration: line-through;
    margin-right: 81.9px;
}

.discount {
    width: 48px;
    height: 24px;
    background-color: #EA0F51;
    color: #fff;
    text-align: center;
    align-content: center;
    border-radius: 3px;
}

.cost {
    display: flex;
}

.btns-buy {
    display: flex;
    margin-top: 10px;
}

.buy {
    background-color: #036446;
    color: #fff;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    width: 172px;
    height: 43px;
    margin-right: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.buy:hover {
    background-color: #035139;
}

.marked {
    background: none;
    border: 1px solid #036446;
    border-radius: 3px;
    text-align: center;
    align-content: center;
    width: 43px;
    height: 43px;
    cursor: pointer;
    padding: 0px 12px;
    padding-top: 2%;
}

svg {
    background: none;
}

.marked:hover>svg>path {
    stroke: #036446;
    fill:#036446;
}

.marked:hover {
    background-color: #ebf4f1;
}

@media screen and (max-width: 770px){
    .wrapper .books {
        grid-auto-columns: calc((100% / 4) - 23px);
    }
}